
{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="cover"> 
    <div class="cover" align="center">
        <h3>Add Bike</h3>
    </div>

    <div align="center">
        <form action="{% url 'add_bike' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>Bike Id :</td>
                    <td><input type="text" name="bike_id" value="{{ res.bike_id }}" placeholder="Bike Id" required></td>
                </tr>

                <tr>
                    <td>Bike Customer</td>
                    <td><input type="text" name="bike_customer" value='{{ res.bike_customer }}' placeholder="Bike Customer" required></td>
                </tr>

                <tr>
                    <td>Bike Number :</td>
                    <td><input type="text" name="bike_number" value="{{ res.bike_number }}" placeholder="Bike Number" required></td>
                </tr>

                <tr>
                    <td>Bike Company :</td>
                    <td><input type="text" name="bike_company" value="{{ res.bike_company }}" placeholder="Bike Company" required></td>
                </tr>
                

                <tr>
                    <td>Bike Type</td>
                    <td>
                        <select name="bike_type" class="bike_type">
                            <option>Select</option>
                            <option value="Bike_One">Bike_One</option>
                            <option value="Bike_Two">Bike_Two</option>
                            <option value="Bike_Three">Bike_Three</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Bike Description :</td>
                    <td><textarea name="bike_desc" cols="25" rows="6" placeholder="Bike Description">{{ res.bike_description }}</textarea></td>
                </tr>
                <tr>
                    <td>Add Bick Image:</td>
                    <td><input type="file" name="bike_image" id="bike_image"></td>
                        
                    </tr>
                <tr align="center">
                    <td colspan='2'><input type="submit" value="Add Bike" class="btn btn-primary"></td>
                </tr>
                
            </table>
        </form>
    </div>
    </div>
{% endblock %}
