{% extends 'base.html' %}
{% block body %}
    <div align="center">
            <table border="1">
                <tr>
                    <td colspan="3"><h3>Booking Details</h3></td>
                </tr>
              {% for rec in my_rec %}
                <tr>
                    <td>
                        <form action="{% url 'edit_booking' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ rec.booking_id }}">{{ rec.booking_id }}
                            <input type="submit" value="Update">
                        </form>
                    </td>

                    <td>
                        <form action="{% url 'del_booking' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="booking_id" value="{{ rec.booking_id }}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
           </table>
        {% if msg %}
            <div> {{ msg }}</div>
        {% endif %}
    </div>
{% endblock %}